 @{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FoodHunter</h1>
    <p class="lead">FoodHunter is the best plantform to book your restaurant</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Owner</h2>
        <p>
            in our plantform, the owner can register their restaurants and see the booking informations.
        </p>
        </div>
    <div class="col-md-4">
        <h2>Customer</h2>
        <p>the customer can booking the restaurants they like.</p>
         </div>
    <div class="col-md-4">
        <h2>other features</h2>
        <p>please watting for update!</p>
        </div>
</div>